.navbar{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: rgb(215, 210, 210);
}

.logo-name{
    display: flex;
    margin-left: 7px;
}

.logo-name h2{
    margin-left: 3.5px;
    font-size: larger;
}

.logo-name img{
    width: 35px;
    height: 50px;
    border-radius: 50%; /*gol ho jayega 50% border radius se*/
    margin-top: 5px;
}

.homelink{
    display: flex;
    /* list-style: none; */
    border-radius: 40%;
    margin-right: 20px;
}

.homelink img{
    width: 30px;
    height: 40px;
    border-radius: 50%; /*gol ho jayega 50% border radius se*/
    margin-top: 5px;    
}
/* 
.navlinks li{
    margin-left: 20px;
    font-size:medium;
    font-weight:bold;
} */

/* .navlinks a{
    text-decoration: none;
    color: black;
} */
